/* Estilos para la navegación */
.pagina-nav .nav {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos */
    justify-content: center; /* Centra los elementos horizontalmente */
    padding: 20px;
    transition: all 0.5s ease;
    z-index: 9999;
    margin-left: auto; /* Empuja el menú hacia la derecha */
    background-color: rgba(27, 27, 27, 0.548); /* Fondo con color transparente inicial */
    backdrop-filter: blur(10px); /* Efecto de desenfoque */
    -webkit-backdrop-filter: blur(10px); /* Soporte para navegadores basados en WebKit */
}


/* Alinea el menú al lado derecho */
.pagina-nav .menu {
    display: flex;
    align-items: center;
    margin-left: auto; /* Empuja el menú hacia la derecha */
}

/* Centra los elementos del menú */
.pagina-nav .menu li {
    list-style: none;
    margin: 0 15px;
    white-space: nowrap;
    display: flex; /* Asegura que los elementos del menú se comporten como bloques flexibles */
    align-items: center; /* Alineación vertical centrada */
}

/* Estilo de los enlaces del menú */
.pagina-nav .menu li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.5s ease;
    display: block;
}

/* Efecto al pasar el mouse por encima de los enlaces */
.pagina-nav .menu li a:hover {
    padding: 5px 10px;
    background: #fff;
    color: #000;
    border-radius: 5px;
}

/* Cambios cuando el nav está activo (scroll) */
.pagina-nav .nav.active {
    background-color: rgba(0, 0, 0, 0.9); /* Fondo oscuro al hacer scroll */
    padding: 15px;
    backdrop-filter: none; /* Elimina el desenfoque al hacer scroll */
}

/* Cambios en los enlaces y logo cuando el nav está activo */
.pagina-nav .nav.active .logo,
.pagina-nav .nav.active a {
    color: #ffffff;
}

.pagina-nav .nav.active a:hover {
    color: #000000;
    background: #ffffff;
}
